include AUTHORS.rst
include CONTRIBUTING.rst
include HISTORY.rst
include LICENSE
include README.rst
include docs/installation.rst
include docs/usage.rst
include *.md
recursive-include kalite_zim *.txt *.js *.css *.html *.ttf *.svg *.eot *.ttf *.woff  *.png *.swf *.scss *.json
